body, html {
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    background-color: #EEE4DA;
    color: #000;
}


main {
    padding: 2rem;
}

.timeline {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.phase-left, .phase-right {
    justify-content: space-between;
}

.phase img {
    width: 40%;
    height: auto;
    border-radius: 8px;
    margin-left: 40px;
    margin-right: 40px;
}

.phase .text {
    width: 43%;
    padding: 1rem;
}

.phase h2 {
    color: #C94C4C;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.phase p {
    text-align: justify;
}

.phase-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    align-items: center;
}

.camera-emerges {
    position: relative;
    left: 0px;
    top: 0px;
    z-index: 11;
    display: block;
    width: 90%;
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
    color: #000;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0px;
    margin-top: 50px;
    margin-bottom: 50px;
}