@import url();

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
    font-family: "Playfair Display", serif;
}

body {
    background: #f9f9f9;
    min-height: 100vh;
    overflow-x: hidden;
    height: 2000px;
}


.slider {
    position: relative;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: opacity 0.5s, transform 0.5s;
    pointer-events: none;
}

#slider__text {
    position: absolute;
    font-size: 7em;
    color: #C3423F;
    text-align: center;
    text-shadow: 29px 26px 17.5px rgba(22, 22, 23, 2.75);
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

#content {
    background: white;
    padding: 20px;
    position: relative;
    z-index: 999;
}