@import url();
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #f9f9f9;
    min-height: 100vh;
    /* overflow-x: hidden; */
    height: 2000px;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100%;
}

.slider {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#slider__text {
    position: absolute;
    font-size: 30em;
    color: #C3423F;
}

.slider img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}
